div {
    height: 300px;
    width: 300px;
    border:2px salmon solid;
    margin: 10px;background-color: darkcyan;
border-radius: 10px 80px; 
padding: 10px;
display: inline-block;
}
h1 {
    border: 2px solid green;
    border-radius: 15px;
background-color: bisque;
   
}
button {
    font-size: 50px;
    border: 2px solid rgb(242, 13, 13);
    border-radius: 10px;
    padding-left: 1em;
    padding-right: 1em;
    background-color: yellowgreen;
    margin-top: 0.5em;
}
