* {
    margin: 0;
    padding-top:0;
}

.div-55 {
    border: 2px solid;
    width: 55%;
    background-color: rgb(47, 39, 39);
    padding-right: 10px;
}

.div-45 {
    border: 2px solid;
    width: 45%;
    position: relative;
}

.div-main {
    display: flex;
}
.div-55{
    align-content: center;
}
.div-main .div-55 .div-text {
    margin: 0 auto;
    text-align: end;
    color: white;
    margin-right: 30px;
    width: 90%;
}

.div-main .div-55 .div-text h4 {
    padding: 15px 0;
    color: brown;
}

.div-main .div-55 .div-text p {
    padding: 15px 0;
}

.div-main .div-55 .div-text h3 {
    padding: 30px 0;
}

span {
    font-size: 30px;
    color: brown;
    padding-left: 10px;
}

.div-45 .icons {
    background-color: #fff;
    color: #f57c00;
    padding: 10px;
    border-radius: 50%;
    font-size: 16px;
    position: absolute;
    left: -20px;    
}
.div-45 .i1{
    top: 30%;
}
.div-45 .i2{
    top: 50%;
}
.div-45 .i3{
    top: 70%;
}